<div class="container mt-5">
    <h2 class="text-center">Lista de Comentarios</h2>
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Mensaje</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% feedbacks.forEach(feedback => { %>
                    <tr>
                        <td><%= feedback.id %></td>
                        <td><%= feedback.User.name %></td>
                        <td><%= feedback.message %></td>
                        <td><%= new Date(feedback.date).toLocaleDateString() %></td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <a href="/feedback/<%= feedback.id %>/edit" class="btn btn-primary btn-sm mr-2">Editar</a>
                                <form action="/feedback/<%= feedback.id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <a href="/feedback/new" class="btn btn-primary mt-3">Crear Nuevo Comentario</a>
</div>
