<section>
    <h2>Detalle de Comentario</h2>
    <p>Usuario: <%= feedback.User ? feedback.User.name : 'Usuario no encontrado' %></p>
    <p>Mensaje: <%= feedback.message %></p>
    <p>Fecha: <%= new Date(feedback.date).toLocaleDateString() %></p>
    <a href="/feedback/<%= feedback.id %>/edit" class="btn btn-primary">Editar</a>
    <form action="/feedback/<%= feedback.id %>?_method=DELETE" method="POST" class="d-inline">
        <button type="submit" class="btn btn-danger">Eliminar</button>
    </form>
</section>
