<div class="container mt-5">
    <h1 class="text-center"></h1>
    <div class="row justify-content-center">
        <% equipments.forEach(function(equipment) { %>
        <div class="col-md-8 mb-4">
            <div class="equipment-card">
                <div class="card-img-top-container">
                    <img src="<%= '/' + equipment.imageUrl %>" class="card-img-top" alt="<%= equipment.name %>">
                </div>
                <h5><%= equipment.name %></h5>
                <p><%= equipment.description %></p>
                <p>Cantidad: <%= equipment.quantity %></p> <!-- Mostrar la cantidad -->
            </div>
        </div>
        <% }) %>
    </div>
</div>
