<div class="container mt-5">
    <!-- Título de la página -->
    <h2 class="text-center">Editar Clase</h2>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <!-- Formulario para editar una clase -->
            <form action="/classes/<%= classItem.id %>?_method=PUT" method="POST">
                <!-- Campo para el nombre de la clase -->
                <div class="form-group">
                    <label for="name">Nombre:</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%= classItem.name %>" required>
                </div>
                <!-- Campo para la descripción de la clase -->
                <div class="form-group">
                    <label for="description">Descripción:</label>
                    <textarea class="form-control" id="description" name="description" required><%= classItem.description %></textarea>
                </div>
                <!-- Campo para seleccionar el entrenador de la clase -->
                <div class="form-group">
                    <label for="trainer_id">Entrenador:</label>
                    <select class="form-control" id="trainer_id" name="trainer_id" required>
                        <!-- Genera opciones de selección para cada entrenador -->
                        <% trainers.forEach(trainer => { %>
                            <!-- Marca la opción como seleccionada si coincide con el entrenador actual de la clase -->
                            <option value="<%= trainer.id %>" <%= classItem.trainer_id === trainer.id ? 'selected' : '' %>><%= trainer.name %></option>
                        <% }) %>
                    </select>
                </div>
                <!-- Botón para enviar el formulario -->
                <button type="submit" class="btn btn-primary btn-block">Guardar</button>
            </form>
        </div>
    </div>
</div>
